[tools]
uv = 'latest'
python = '3.13'

[tasks.default]
run = 'python -m src'

[tasks.dev]
run = 'jurigged -v -m src'

[tasks.migrate]
run = ['alembic -c alembic.ini upgrade head', 'alembic -c src/bot/db/alembic.ini upgrade head']

[tasks.generate-encryption-key]
run = 'python -c "from secrets import token_bytes; print(token_bytes(32).hex())"'

[env]
# the Telegram bot token https://telegram.me/BotFather
BOT_TOKEN = '0000000000:aaaaaaaaaaaaaaaaaaaa'
# to connect to MTProto, which we use to upload media files (retrieve from https://my.telegram.org)
API_ID = '0000000'
API_HASH = 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
# the Telegram account IDs that will have administrator permissions of the bot
BOT_ADMINS = '000000,000000,000000'
# Chat that will receive the bot messages
CHAT_ID = '-10000000000'
# Group topic that will be used for bot logs
LOG_TOPIC_ID = 1
# Require admin approval to add new bot
NEW_BOT_ADMIN_APPROVAL = "true"
DEBUG = 1
# encryption key
ENCRYPTION_KEY = '0000000000000000000000000000000000000000000000000000000000000000'

[env.mise]
file = '.env'
