alembic==1.14.0 ; python_version >= "3.12" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
greenlet==3.0.3 ; python_version < "3.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.12"
mako==1.3.5 ; python_version >= "3.12" and python_version < "4.0"
markupsafe==2.1.5 ; python_version >= "3.12" and python_version < "4.0"
plate==1.0.1 ; python_version >= "3.12" and python_version < "4.0"
pyaes==1.6.1 ; python_version >= "3.12" and python_version < "4.0"
pydantic-core==2.27.1 ; python_version >= "3.12" and python_version < "4.0"
pydantic==2.10.1 ; python_version >= "3.12" and python_version < "4.0"
pymediainfo-pyrofork==6.0.1 ; python_version >= "3.12" and python_version < "4.0"
pyrofork @ git+https://github.com/Mayuri-Chan/pyrofork@f6f003d25aad15d036b4924b9f183cd12a141a05 ; python_version >= "3.12" and python_version < "4.0"
pysocks==1.7.1 ; python_version >= "3.12" and python_version < "4.0"
regex==2024.11.6 ; python_version >= "3.12" and python_version < "4.0"
sqlalchemy==2.0.36 ; python_version >= "3.12" and python_version < "4.0"
tgcrypto==1.2.5 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4.0"
uvloop==0.20.0 ; python_version >= "3.12" and python_version < "4.0"
